body {
    background: #111;
    color: #eaeaea;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
video {
    max-height: 80vh;
    margin: 10px;
}
button {
    margin: 10px;
}
.button-container {
    margin-left: 20px;
}
#hands {
    pointer-events: none;
    position: fixed;
    z-index: 999;
}